{% extends 'base/base.html' %}
{% block title %}Manage Category{% endblock title %}
{% block content %}
{% load rizwan_dev_tags %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Category
      </h1>
    </section>
    {% if messages %}
      {% for message in messages%}
        <div class="alert alert-{{message.tags}} text-center" id='hidemessage' role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <!-- /.content -->
    <section class="content" id="dashboard-2">
      <div class="box">
        <div class="box-header">
            {% comment %} <span class="refresh"><button class="btn" onclick="location.href='{% url 'provider-noti-list'%}'"><img src="/static/assets/dist/img/refresh.png"></button></span>
            <form method="POST" action="{% url 'search-povider-noti'%}">
              {% csrf_token %}
              <input type="text" id="myInput" onkeyup="myFunction()" name="q" {% if InputText%} value="{{InputText}}" {% endif%} placeholder="Search Patients" title="Type in a name">
            </form>  {% endcomment %}
            <a href="{% url 'add-category'%}" class="btn btn-1" type="button"><span
                class="glyphicon glyphicon-plus"></span> Add Category</a>
          </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-condensed">
            <tr>
              <th>Id</th>
              <th>Category Name</th>
              <th>Added By</th>
              <th>Actions</th>
            </tr>
            {% if adminCatList%}
                {% for cat in adminCatList%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cat.catName}}</td>
                        <td>{% if cat.catAddedBy == 1%} Admin {% else%} Doer{% endif%}</td>
                        <td class="btn-section">
                            <span class="btn-2 edit-image"><a href="{% url 'edit-category' cat.id%}"><img src="/static/assets/dist/img/edit.png"></span>
                            <span class="btn-3"><a href = "{% url 'view-admin-details' cat.id %}" class="btn btn-view">View Details</a></span>
                        </td>
                    </tr>
                {% endfor%}
            {% else%}
                <td><span>Categories Not Available</span></td>
            {% endif%}
          </table>
        </div>
     
        <!-- /.box-body -->
      </div>
      <div class="box-footer">
        <div class="box-tools" style="margin-left: 45%;">
          <ul class="pagination pagination-sm inline">
            {% if page_obj.has_previous %}
              <li><a href="?page=1" >&laquo; First</a></li>
              <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}&nbsp
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
              <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </section>
    

  </div>

{% comment %} <form name="filter-form" id="type_id_form" method="POST" action="{% url 'filter-by-status'%}">
  {% csrf_token%}
  <input type="hidden" name="filter_status_id" id="filter_val_status">
</form>
<form method="post" action="{% url 'delete-user' %}" id="delete-user-form">
  {% csrf_token %}
  <input type="hidden" name="user_id" id="User_id">
</form>  {% endcomment %}
{% endblock content%}
{% block script%}
  <script>
    setTimeout(function(){
      $('#hidemessage').hide()
    }, 3000);
    $('#type_id').on('change',function(){  
      var val = $('#type_id').val();
      $('#filter_val_status').attr('value',val);
      $('#type_id_form').submit();
    });
    $(document).on('click','#delete_user', function(e){ 
      var user_id = $(this).data('id');
      $('#User_id').val(user_id);
    }); 
    $(document).on('click','#delete_link_modal', function(e){ 
      $('#delete-user-form').submit(); 
    });
  </script>
{% endblock script%}