{% extends 'base/base.html' %}
{% block title %}Edit Sub Category{% endblock title %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          Edit Sub Category
        </h1>
      </section>
    {% if messages %}
      {% for message in messages%}
        <div class="alert alert-{{message.tags}} text-center" id='hidemessage' role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <!-- /.content -->
    <section class="content" id="dashboard-2">
      <div class="box">
        <!-- /.box-header -->
          <form id="edit-subcategory-add-form" method="POST" style="display: block;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group " >
                <label>Sub Category Name</label>
                <input type="text" class="form-control" name="subcategory" value="{{SubCategory.subCatName}}" placeholder="Sub Category Name" style="width:50%;">
            </div>
         
           
            <button type="submit" class="btn btn-1">Update</button>
          </form>
        </div>
        
      </div>
      <!-- /.box -->
    </section>

  </div>
{% endblock content%}
{% block script%}
<script>
  setTimeout(function () {
      $('#hidemessage').hide()
  }, 4000)

  function readURL(input) {
      if (input.files && input.files[0]) {
    
        var reader = new FileReader();
    
        reader.onload = function(e) {
          $('.image-upload-wrap').hide();
    
          $('.file-upload-image').attr('src', e.target.result);
          $('.file-upload-content').show();
    
          $('.image-title').html(input.files[0].name);
        };
    
        reader.readAsDataURL(input.files[0]);
    
      } else {
        removeUpload();
      }
    }
    
    function removeUpload() {
      $('.file-upload-input').replaceWith($('.file-upload-input').clone());
      $('.file-upload-content').hide();
      $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>
{% endblock script%}